[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/chrismetcalf/vim-rainbow.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/wycats/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/color-sampler"]
	path = bundle/color-sampler
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
